<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<script type="text/javascript" src="static/lib/require.js" th:src="@{/static/lib/require.js}"></script>
<script type="text/javascript" src="static/lib/bootstrap.min.js" th:src="@{static/lib/bootstrap.min.js}"></script>
<script type="text/javascript" src="static/js/jquery.min.js" th:src="@{static/js/jquery.min.js}"></script>
<script type="text/javascript" src="static/js/app.js" th:src="@{static/js/app.js}"></script>
<script type="text/javascript" src="static/js/app/main.js" th:src="@{/static/js/app/main.js}"></script>

<title>Hubble</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" media="all" href="static/css/main.css" th:href="@{/static/css/main.css}" />
<link rel="stylesheet" type="text/css" media="all" href="static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}" />
</head>

<body>
	<h1>Projects</h1>

	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
		</tr>
		<tr th:each="project : ${projects}">
			<td th:text="${project.id}">TEST</td>
			<td th:text="${project.name}">Testing</td>
			<td th:text="${project.description}">Data import testing</td>
		</tr>
	</table>
</body>

</html>